.blogs {
    width: 83.2vw;
    z-index: 1;
}
.orange {
    color: orange;
}
.blog-items {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    background: rgba(133, 4, 4, 0.41)  ;
    transition-duration: .3s;
    transition-timing-function: linear;
}
.blog-items:hover {
    display: flex;
    transform: scale(1.02);
    background-image: linear-gradient(to bottom,rgba(176, 14, 14, 0.49), transparent);
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
    border-radius: 5px;
    transition-duration: .3s;
   
   
}
.blog-items-img {
    position: relative;
    border-radius: 15px;
    width: 400px;
    height: 250px;
}

@media (max-width: 576px) {
    .blogs {
        width: 83.2vw;
        z-index: 1;
        margin-inline: auto;
    }
    .blogs h1{
        margin-inline: auto;
    }
    .blog-items {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5px;
        background: rgba(133, 4, 4, 0.41)  ;
        transition-duration: .3s;
        transition-timing-function: linear;
    }
    .blog-items:hover {
        transform: scale(1.02);
        background-image: linear-gradient(to right,rgb(176, 14, 14), transparent);
        box-shadow: 5px 5px 5px black;
        overflow: hidden;
        border-radius: 5px;
        transition-duration: .3s;
       
       
    }
    .blog-items img {
        margin-bottom: 10px;
        border-radius: 5px;
        width: 400px;
        height: 250px;
    }
    
  }
