.blog-body{
    width: 90%;
    background: rgb(201 11 11 / 60%);
}
.blog-body h1{
    top: 400px;
    left: 0;
    position: absolute;
    width: 100%;
    color: rgb(255, 255, 255) ;
    background: rgba(0, 0, 0, 0.501);
    padding-block: 20px;
}
.blog-body img{
    width: 100%;
    height: 700px;
}

.orange {
    color: orange;
}

.content img {
    margin-block: 20px;
    width: 100%;
    height: 600px;
} 


@media (max-width: 576px) {
    .blog-body{
        width: 90%;
        background: rgb(201 11 11 / 60%);
    }
    .blog-body h1{
        top: 170px;
        left: 0;
        position: absolute;
        width: 100%;
        color: rgb(255, 255, 255) ;
        background: rgba(0, 0, 0, 0.501);
        padding-block: 20px;
    }
    .blog-body img{
        width: 100%;
        height: 350px;
    }
    
    .orange {
        color: orange;
    }
    
    .content img {
        margin-block: 10px;
        width: 100%;
        height: 350px;
    } 
    
  }