.blog-body{
    width: 90%;
    background: rgb(201 11 11 / 60%);
}
.blog-body h1{
    top: 400px;
    left: 0;
    position: absolute;
    width: 100%;
    color: rgb(255, 255, 255) ;
    background: rgba(0, 0, 0, 0.501);
    padding-block: 20px;
    z-index: 1;
}
.cover{
    position: relative;
    width: 100%;
    height: 700px;  
}

.orange {
    color: orange;
}

.content img {
    margin-block: 20px;
    width: 100%;
    height: 600px;
} 

.submit-btn {
    margin-top: 10px;
    border-radius: 4px;
    padding: 1px 20px;
    border-right: 2px solid rgb(150, 0, 0);
    border-bottom: 2px solid rgb(150, 0, 0);
    transition-duration: .3s;
}
.submit-btn:hover {
    transition-duration: .3s;
    box-shadow: 5px 5px 10px black;
    margin-top: 10px;
    border-radius: 4px;
    padding: 1px 20px;
    border-right: 2px solid rgb(150, 0, 0);
    border-bottom: 2px solid rgb(150, 0, 0);
}
.comment-card{
    border-left: 5px solid rgb(150, 0, 0);
    background-image: linear-gradient(to right, rgba(150, 0, 0, 0.347), transparent);
    width: 60%;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgb(153, 153, 153);
}   

@media (max-width: 576px) {
    .blog-body{
        width: 90%;
        background: rgb(201 11 11 / 60%);
    }
    .blog-body h1{
        top: 170px;
        left: 0;
        position: absolute;
        width: 100%;
        color: rgb(255, 255, 255) ;
        background: rgba(0, 0, 0, 0.501);
        padding-block: 20px;
    }
    .cover{
        position: relative;
        width: 100%;
        height: 350px;  
        margin-bottom: 10px;
    }
    
    .orange {
        color: orange;
    }
    
    .content img {
        margin-block: 10px;
        width: 100%;
        height: 350px;
    } 
    
  }