.people-card{
    background: rgba(0, 0, 0, 0.312);
}
.orange {
    color: orange;
}
.people-image {
    position: relative;
    height: 300px;
    width:  300px;
}

@media (max-width: 576px) {
    .people-image {
        position: relative;
        height: 250px;
        width:  250px;
    }
}