.navbar{
    background: rgba(0, 0, 0, 0.178);
    width: 100vw;
    transition-duration: .5s;
    
}
.navbar ul{
    display: flex;
}
.navbar.active {
    background-color: black;
    transition-duration: .5s;
}

.activated {
    color: orange;
    font-weight: bold;
    transition-duration: .5s;
  }
  .menu-button {
    display: none;
  }
  .cart-ico {
    color: white;
    transition-duration: .5s;
  }
  .cart-ico:hover {
    color: orange;
    transition-duration: .5s;
    transform: scale(1.1);
  }

  @media (max-width: 576px) {

    .cart-ico {
      color: white;
      transition-duration: .5s;
    }
    .cart-ico:hover {
      color: orange;
      transition-duration: .5s;
      transform: scale(1.1);
    }
    
    .navbar{
        background: rgb(0, 0, 0);
        width: 100vw;
        transition-duration: .5s;
        
    }
    .navbar ul{
        display: block;
    }
    .navItem{
        display: block;
        width: 100vw;
       text-align: center;
    }
    .menu-button {
        display: block;
        position: fixed;
        z-index: 1;
        background-color: black;
        transition-duration: .5s;
        top: 0;
      }
      .menu-2{
        transition-duration: .5s;
        width: 100%;
        top: 440px;
        padding-block: 20px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        background-color: black;
        z-index: 1;
      }
      .cart-ico-1 {
          display: none;
      }
      .cart-ico-2 {
        position: relative;
        color: white;
        display: block;
        margin-top: 20px;
        margin-left: 182px;
          
      }
      .menubar-1{
        position: absolute;
        top: -420px;
        transition-duration: .5s;
        
      }
      .menubar-2{
        top: 0px;
        background: black;
        height: 450px;
      }
  }