.cart-bg {
    background-image: url("../../../../image/product-bg.jpg");
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: .7;
}

.cart {
    width: 95%;
}
.table {
    width: 100%;
}
.checkout-box {
    width: 30%;
}
.avatar{
    border: 2px solid rgb(255, 140, 0);
    padding-bottom: 20px;
}
.product-image{
    position: relative;
    height: 45px;
    width: 45px;
}
.row {
    border-bottom: 1px solid rgba(255, 166, 0, 0.414);
}
.cart-btn{
    border-radius: 20px;
    color: white;
    transition-duration: .3s;
}
.cart-btn:hover{
    border-radius: 20px;
    color: rgba(255, 0, 0, 0.678);
    transition-duration: .3s;
    transform: rotate(360deg) scale(1.5 );
}
.modal-bg-on {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: white;
    top: 0%;
    left: 0;
}
.modal-bg-off {
    display: none;
}
.modal{
    border-radius: 20px;
    border-bottom: 1px solid rgba(255, 166, 0, 0.3);
    border-right: 1px solid rgba(255, 166, 0, 0.3);
    margin-inline: auto;
    margin-top: 250px;
    background: black;
    width: 500px;
    height: 250px;
}
.modal-btns {
    margin-top: 50px;
}
.modal-yes{
    border-bottom: 1px solid rgb(143, 0, 0);
    border-top: 1px solid rgb(243, 240, 240);
    border-radius: 10px;
    padding: 5px 30px;
    transition-duration: .3s;
}
.modal-no{
    border-bottom: 1px solid rgb(0, 97, 24);
    border-radius: 10px;
    padding: 5px 33px;
    transition-duration: .3s;
    border-top: 1px solid rgb(243, 240, 240);
    margin-left: 10px;  
    margin-right: 50px; 
}
.modal-yes:hover{
    border-bottom: 1px solid rgb(143, 0, 0);
    border-top: 1px solid rgb(143, 0, 0);
    transition-duration: .3s;
    transform: scale(1.1);
    border-radius: 10px;
    padding: 5px 30px;
}
.modal-no:hover{
    border-bottom: 1px solid rgb(0, 97, 24);
    border-top: 1px solid rgb(0, 97, 24);
    transition-duration: .3s;
    transform: scale(1.1);
    border-radius: 10px;
    padding: 5px 30px;
    margin-left: 16px;  
    margin-right: 50px; 
}
.checkout-box {
    top: 130px;
    right: 50px;
    position: fixed;
    width: 25%;
    height: 350px;
    border-top: 1px solid rgba(255, 166, 0, 0.3);
    border-left: 1px solid rgba(255, 166, 0, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    padding-block: 20px;
}
.checkout-tot{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.table-wrapper {
    width: 70%;
    overflow-x: scroll;
}

@media (max-width: 576px) {
    .table-wrapper {
        width: 100%;
        overflow-x: scroll;
    }
    .table {
        width: 200%;
    }
    .table, th, td {
        background: transparent;
        border: none;
    }
    .checkout-box {
        position: static;
        width: 100%;
        height: 350px;
        margin-top: 30px;
        border-top: 1px solid rgba(255, 166, 0, 0.3);
        border-left: 1px solid rgba(255, 166, 0, 0.3);
        border-radius: 10px;
        box-shadow: 5px 5px 20px black;
        padding-block: 20px;
    }
    .modal{
        border-radius: 20px;
        border-bottom: 1px solid rgba(255, 166, 0, 0.3);
        border-right: 1px solid rgba(255, 166, 0, 0.3);
        margin-inline: auto;
        margin-top: 200px;
        background: black;
        width: 300px;
        height: 150px;
    }
    .modal-btns {
        margin-top: 20px;
    }

}