.schoolPrograms{
  margin-left: 30px;
  width: 78.3vw;
  padding-inline:  50px;
}
  swiper-container {
    position: relative;
    width: 550px;
    height: 300px;
  }

  swiper-slide {
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* ----------------------------------------- */

  .sub-image{
    position: relative;
    height: 40px;
    width: 100%;
  }
  #sub-swiper {
    height: 10vh;
    width: 550px;
    box-sizing: border-box;
    padding: 10px 0;
  }

  #sub-swiper swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  #sub-swiper swiper-slide:hover {
    opacity: 1;
  }



   /* -------------------------------------- */
   /* -------------------------------------- */
   /* -------------------------------------- */

   @media (max-width: 576px) {
    .schoolPrograms{
      margin-left: 40px;
      width: 78.3vw;
      padding: 50px 50px;
    }
    swiper-container {
      position: relative;
      width: 300px;
      height: 300px;
    }
    .slides-wrapper {
    width: inherit;
    position: relative;
    right: 50px;
    }
    /* ----------------------------------------- */
  #sub-swiper {
    height: 55px;
    width: 300px;
    box-sizing: border-box;
  }

  #sub-swiper swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  #sub-swiper swiper-slider {
    opacity: 1;

  }
  }